<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Airu |Chat Room</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
    </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-textarea
          filled
          auto-grow
          label="Ask-Airu"
          rows="20"
          row-height="15"
          background-color="pink lighten-4"
          color="orange orange-darken-4"
          shaped
          id="chat-log"
        ></v-textarea>
        <!--  <textarea id="chat-log" cols="100" rows="20"></textarea>
        <input id="chat-message-input" type="text" size="100" placeholder="type here"/>
        <input  type="button" value="press-enter"/>
      -->
        <br/>
          <v-text-field
           id="chat-message-input"
           label="type here..."
           outlined
           >
           <v-icon slot="append" color="red">mdi-keyboard</v-icon>
          </v-text-field>
          <br/>
          <v-btn
          class="ma-2"
          id="chat-message-submit"
          outlined
           large
           fab
          color="indigo">
          <v-icon>mdi-send</v-icon>
          </v-btn>

        </v-container>
      </v-content>
    </v-app>

  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
  })
</script>

<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/irubot/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

</html>
